In [0]:
%sql
-- PROYECTO SPARK SQL - 20 EJERCICIOS FUNDAMENTALES
-- Autor: [Tu Nombre]
-- Fecha: Agosto 2024

-- Ejercicio 1: Crear tabla con datos de personas
CREATE OR REPLACE TEMPORARY VIEW personas AS 
SELECT "Alice" as Nombre, 25 as Edad, "New York" as Ciudad
UNION ALL
SELECT "Bob", 30, "Los Angeles"  
UNION ALL
SELECT "Charlie", 22, "Chicago";

-- Mostrar la tabla
SELECT * FROM personas;

Nombre,Edad,Ciudad
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago

In [0]:
%sql
-- Ejercicio 2: Mostrar solo los nombres de las personas
SELECT Nombre FROM personas;

Nombre
Alice
Bob
Charlie

In [0]:
%sql
-- Ejercicio 3: Filtrar personas cuya edad sea mayor o igual a 25
SELECT * FROM personas WHERE Edad >= 25;

Nombre,Edad,Ciudad
Alice,25,New York
Bob,30,Los Angeles

In [0]:
%sql
-- Ejercicio 4: Agregar una nueva columna "Pais" con valor constante
SELECT Nombre, Edad, Ciudad, "USA" as Pais FROM personas;

Nombre,Edad,Ciudad,Pais
Alice,25,New York,USA
Bob,30,Los Angeles,USA
Charlie,22,Chicago,USA

In [0]:
%sql
-- Ejercicio 5: Calcular el promedio de edad de todas las personas
SELECT AVG(Edad) as PromedioEdad FROM personas;

PromedioEdad
25.666666666666668

In [0]:
%sql
-- Ejercicio 6: Ordenar el DataFrame por edad en orden descendente
SELECT * FROM personas ORDER BY Edad DESC;

Nombre,Edad,Ciudad
Bob,30,Los Angeles
Alice,25,New York
Charlie,22,Chicago

In [0]:
%sql
-- Ejercicio 7: Agrupar por ciudad y calcular la cantidad de personas en cada ciudad
SELECT Ciudad, COUNT(*) as CantidadPersonas FROM personas GROUP BY Ciudad;

Ciudad,CantidadPersonas
New York,1
Los Angeles,1
Chicago,1

In [0]:
%sql
-- Ejercicio 8: Renombrar la columna "Nombre" a "NombreCompleto"
SELECT Nombre as NombreCompleto, Edad, Ciudad FROM personas;

NombreCompleto,Edad,Ciudad
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago

In [0]:
%sql
-- Ejercicio 9: Eliminar la columna "Edad" del DataFrame
SELECT Nombre, Ciudad FROM personas;

Nombre,Ciudad
Alice,New York
Bob,Los Angeles
Charlie,Chicago

In [0]:
%sql
-- Ejercicio 10: Realizar una consulta SQL para seleccionar personas mayores de 20 años
SELECT * FROM personas WHERE Edad > 20;

Nombre,Edad,Ciudad
Alice,25,New York
Bob,30,Los Angeles
Charlie,22,Chicago

In [0]:
%sql
-- Ejercicio 11: Calcular la suma total de todas las edades
SELECT SUM(Edad) as SumaEdades FROM personas;

SumaEdades
77

In [0]:
%sql
-- Ejercicio 12: Calcular la edad mínima y máxima de todas las personas
SELECT MIN(Edad) as EdadMinima, MAX(Edad) as EdadMaxima FROM personas;

EdadMinima,EdadMaxima
22,30

In [0]:
%sql
-- Ejercicio 13: Filtrar personas cuya ciudad sea "Chicago" y edad sea menor de 30
SELECT * FROM personas WHERE Ciudad = "Chicago" AND Edad < 30;

Nombre,Edad,Ciudad
Charlie,22,Chicago

In [0]:
%sql
-- Ejercicio 14: Agregar una nueva columna "EdadDuplicada" que contenga el doble de la edad
SELECT Nombre, Edad, Ciudad, (Edad * 2) as EdadDuplicada FROM personas;

Nombre,Edad,Ciudad,EdadDuplicada
Alice,25,New York,50
Bob,30,Los Angeles,60
Charlie,22,Chicago,44

In [0]:
%sql
-- Ejercicio 15: Convertir todas las edades en años a meses
SELECT Nombre, Edad, Ciudad, (Edad * 12) as EdadEnMeses FROM personas;

Nombre,Edad,Ciudad,EdadEnMeses
Alice,25,New York,300
Bob,30,Los Angeles,360
Charlie,22,Chicago,264

In [0]:
%sql
-- Ejercicio 16: Contar el número total de personas en el DataFrame
SELECT COUNT(*) as TotalPersonas FROM personas;

TotalPersonas
3

In [0]:
%sql
-- Ejercicio 17: Filtrar personas cuya edad sea un número par
SELECT * FROM personas WHERE (Edad % 2) = 0;

Nombre,Edad,Ciudad
Bob,30,Los Angeles
Charlie,22,Chicago

In [0]:
%sql
-- Ejercicio 18: Calcular la cantidad de personas por rango de edades (0-20, 21-40, 41-60, 61+)
SELECT 
  CASE 
    WHEN Edad <= 20 THEN "0-20"
    WHEN Edad <= 40 THEN "21-40"
    WHEN Edad <= 60 THEN "41-60"
    ELSE "61+"
  END as RangoEdad,
  COUNT(*) as CantidadPersonas
FROM personas 
GROUP BY 
  CASE 
    WHEN Edad <= 20 THEN "0-20"
    WHEN Edad <= 40 THEN "21-40"
    WHEN Edad <= 60 THEN "41-60"
    ELSE "61+"
  END;

RangoEdad,CantidadPersonas
21-40,3

In [0]:
%sql
-- Ejercicio 19: Contar cuántas personas tienen el mismo nombre
SELECT Nombre, COUNT(*) as CantidadMismoNombre FROM personas GROUP BY Nombre;

Nombre,CantidadMismoNombre
Alice,1
Bob,1
Charlie,1

In [0]:
%sql
-- Ejercicio 20: Concatenar las columnas "Nombre" y "Ciudad" en una nueva columna
SELECT Nombre, Edad, Ciudad, CONCAT(Nombre, " - ", Ciudad) as InformacionPersonal FROM personas;

Nombre,Edad,Ciudad,InformacionPersonal
Alice,25,New York,Alice - New York
Bob,30,Los Angeles,Bob - Los Angeles
Charlie,22,Chicago,Charlie - Chicago